<div class="auth-container">
  <div class="signup-container">
    <h2>Signup</h2>
    <form (ngSubmit)="signup()">
      <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required />
      <input type="password" placeholder="Parolă" [(ngModel)]="password" name="password" required />
      <select [(ngModel)]="userType" name="userType">
        <option value="candidate">Candidat</option>
        <option value="company">Companie</option>
      </select>
      <button type="submit">Signup</button>
    </form>
    <p>Ai deja cont? <a routerLink="/login">Login</a></p>
  </div>
</div>
